In [1]:
import pandas as pd
import SRS

In [2]:
games_df = pd.read_csv("DataV2/srs_test.csv")
games_df

                V              H  Result
0           Texas         Baylor     -11
1          Baylor          Texas       5
2        Oklahoma         Baylor       6
3          Baylor       Oklahoma      18
4        Oklahoma          Texas      -1
5           Texas       Oklahoma      -8
6          Baylor     Iowa State       1
7      Iowa State         Baylor      -2
8   West Virginia     Iowa State      -4
9      Iowa State  West Virginia      -6
10         Kansas     Iowa State      -5
11     Iowa State         Kansas     -12
12          Texas  West Virginia      -8
13  West Virginia          Texas       5
14       Oklahoma         Kansas      -3
15         Kansas       Oklahoma       4
16  West Virginia         Kansas     -14
17         Kansas  West Virginia       6

In [3]:
SRS.CalcSRS(games_df)

Raw Point Diff:
Baylor           5.166667
Iowa State      -2.000000
Kansas           5.666667
Oklahoma        -2.000000
Texas           -6.000000
West Virginia   -0.833333
dtype: float64

Raw Schedule Matrix:
[[-1.          0.33333333  0.          0.33333333  0.33333333  0.        ]
 [ 0.33333333 -1.          0.33333333  0.          0.          0.33333333]
 [ 0.          0.33333333 -1.          0.33333333  0.          0.33333333]
 [ 0.33333333  0.          0.33333333 -1.          0.33333333  0.        ]
 [ 0.33333333  0.          0.          0.33333333 -1.          0.33333333]
 [ 0.          0.33333333  0.33333333  0.          0.33333333 -1.        ]]